* {
  border: none;
  font-family: comfortaa;
  font-weight: 800;
  /* font-size: 14.5px; */
}

window#waybar {
  background: transparent;
}


tooltip {
  color: black;
  background-color : rgba(255, 255, 255,0.4);
  border-radius: 10px;
}


#cpu,#memory,#custom-player,#idle_inhibitor,#temperature, #custom-caffeine, #clock, #battery, #pulseaudio, #network, #workspaces, #tray, #backlight, #window { 
  margin-top: 2px;
  /* padding-top: 0px; */
}


/* text-align: center; */
/* } */
#workspaces * {
  /* font-family: Poppins; */
  /* font-weight: 600; */
}
#workspaces button {
  color: #49CCF1;
  opacity: 0.7;
  margin: 0px 0 0 3px; 
  padding: 1.5px 10px;
  transition: all 0.5s ease-in-out;
  border: 0.1px solid rgba(0,0,0,0.2);
  /* border-color: cyan; */
  /* border-width: 0.2px; */

  
}
#workspaces button.active {
  transition: all 0.5s ease-in-out;
  border: 0.1px solid cyan;
  opacity: 1;
  border-radius: 8px;
  color: cyan;
  background-color : rgba(0, 0, 0,0.4);
  /* box-shadow: rgba(17, 17, 27, 0.2) 0 0 3 2px; */

}
#custom-player{
  margin: 0 8px;
  opacity : 0.95;

}

#clock {
  color: cyan;
  background-color : rgba(0, 0, 0,0.4);
  /* box-shadow: rgba(17, 17, 27, 0.2) 0 0 3 2px; */
  border-radius: 8px;
  padding: 2px 8px 0px 8px;
  border: 0.1px solid cyan;
}

#tray {
  background-color : rgba(255, 255, 255,0.4);
  margin-right: 10px;
  padding: 0 8px;
  border-radius: 8px;
}

#network {
  color: white;
  background-color : rgba(170, 170, 170,0.1);
  border-radius: 8px;
  padding: 0 8px;

}

#idle_inhibitor {
  margin: 0 2px;
  color: black;
  opacity: 0.7;
}
#idle_inhibitor.activated {
  transition: all 1.5s ease-in-out;
  color: white;
  opacity: 1;
}

#cpu {
  padding: 0 8px;
  color: white;
  background-color : rgba(170, 170, 170,0.1);
  border-radius: 8px 0 0 8px;
  border-right: none;
  opacity: 0.9;
}

#memory {
  padding: 0 8px;
  color: white;
  background-color : rgba(170, 170, 170,0.1);
  border-radius: 0 8px 8px 0;
  border-right: none;
  opacity: 0.9;

}

#backlight {
  margin-left: 5px ;
  padding: 0 8px;
  color: white;
  background-color : rgba(170, 170, 170,0.1);
  border-radius: 8px 0 0 8px;
  border-right: none;
  opacity: 0.9;
}

#pulseaudio {
  padding: 0 8px;
  color: white;
  background-color : rgba(170, 170, 170,0.1);
  border-radius: 0 8px 8px 0;
  border-right: none;
  opacity: 0.9;

}

#battery {
  color: cyan;
  margin-left: 5px;
  margin-right: 3px;
  padding: 0 8px;
  background-color : rgba(0, 0, 0,0.4);
  border-radius: 8px;
  border: 0.1px solid cyan;
  
  
}

#battery.charging {
  transition: all 1s ease-in-out;
  border: none;
  color: white;
  background: linear-gradient(
    60deg,
    #0b6b81,
    #18be7f
  );

}
