window {
    background-color: transparent;
    font-family: "noto sans";
    /* font-weight: regular; */
    font-size: 17px;
}

#outer-box {
    padding: 0 5px;
    background-color: rgba(0,0,0,0.30);
    /* border-radius: 10px; */
    /* border: 1px solid rgba(220, 220, 220, 0.1); */
}

#input {
    color: #d6d6d6;
    font-size: 15px;
    padding: 0px 15px 0px 20px;
    margin: 0px 8px 0px 8px ;
    background-color: rgba(0,0,0,0);
    /* background: rgba(255,255,255,0.04); */
    border-radius: 30px;

}
#input:focus {
    transition-duration:0.3s;
    background: rgba(255,255,255,0.04);
}
/* #input > image.left { */
/*     -gtk-icon-transform:scaleX(0); */
/* } */
#input > image.right {
    -gtk-icon-transform:scaleX(0);
}
/* #input > image { */
/*     -gtk-icon-transform:scalex(0); */
/* } */


#inner-box {
    color: #d6d6d6;
    margin: 0px 5px;
    /* padding: 6px; */
    /* background-color: rgba(0,0,0,9); */
    border-radius: 8px;
}

#scroll {
    margin: 2px 5px;
    margin-bottom: 5px;
    /* background: rgba(255,255,255,0.1); */
    border-radius: 10px;
}

#text {
    color: #a2acb0;
    padding-left : 15px;
}
#text:selected {
    color: #ffffff;
}

#entry {
    /* important for that annoying border around selected entries */
    color: transparent;
    padding: 5px;
    margin-bottom: 12px;
    border-radius: 0px;
}
#entry:selected {
    transition-duration:0.1s;
    /* background: rgba(255,255,255,0.15); */
    padding-left: 10px;
    background: linear-gradient(60deg,transparent, rgba(255,255,255,0.05) ,transparent,transparent,transparent);
    border-left: 2px solid #5ea1ff;
}

