* {
  /*border: solid;*/
  /*border-radius: 200px;*/
  /*border-color: black;*/
  border-style: solid;
  font-family: monospace;
  font-weight: bold;
  font-size: 15px;
  /*min-height: 0;*/
  margin: -2px 2px;
}

window#waybar {
  background: transparent;
  opacity: 0.9;
  color: blueviolet;
}

tooltip {
  background: transparent;
  background:rgba(0,0,0,0.6);
  opacity: 0.95;
  border-left: 0.5px solid white;
  border-right: 0.5px solid white;
  border-radius: 8px;
}

#workspaces button {
  padding: 2px;
  color: #013355;
  margin: 0px 6px;
}

#workspaces button.active {
  color: #aecfff; 
  background: transparent;
  /*border-right:1px solid white;
  border-left:1px solid white;*/
  /*border-color: #11181c;*/
  /*border-radius: 25px;*/
}

#workspaces button.focused {
  color: #a6adc8;
  background: transparent;
  /*border-color: #11181c;*/
  /*border-radius: 20px;*/
}

#workspaces button.urgent {
  color: #11111b;
  background: transparent;
  /*border-color: #11181c;*/
  /*border-radius: 20px;*/
}

#workspaces button:hover {
  background: transparent;
  color: #cdd6f4;
  /*border-color: #11181c;*/
  /*border-radius: 20px;*/
}

#cpu,#memory,#custom-player,#idle_inhibitor,#temperature, #custom-caffeine, #clock, #battery, #pulseaudio, #network, #workspaces, #tray, #backlight {
  /*ckground: #11181c;*/
  border: solid;
  border-radius: 2px;
  border-color: white;
  padding: 0px 10px;
  margin: 3px 0px;
}

#tray {
  border-color: white;
  border-radius: 10px;
  margin-right: 4px;
}



#workspaces {
  border-radius: 10px;
  padding-right: 0px;
  padding-left: 5px;
  margin-left: 5px;
}

/*#custom-caffeine {
  color: #10c6eb;
  border-radius: 10px 0px 0px 10px;
  padding-right: 12px;
}*/

#idle_inhibitor{
  color: #213354;
}
#idle_inhibitor.activated {
  color: whitesmoke;
}

#cpu{
  color: #8b7a8a;
}

#memory{
  color: #8b7a8a;
}

/*#temperature {
  color: darkorange;
}*/

#clock {
  color: #aecfff;
  border-radius: 10px;
}

#network {
  color: #aecfff;
}

#pulseaudio {
  color:  #aecfff;
}

#battery{
  color: #1cfcee;
  border-radius: 0 10px 10px 0;
  margin-right: 5px;
}

#backlight{
  color: #aecfff;
}

#custom-player{
  color: #aecfff;
}
